<ion-view>
	<ion-content>
	<ion-list id="favorites-list" class="animate-fade-slide-in-right">	
  		<ion-item ng-repeat="dog in dogs" class="item item-thumbnail-left item-button-right">
			<img src="{{dog.picture}}">
		 	<h2>{{dog.name}}</h2>
		    	<p>{{dog.race}}</p>
		    	<button class="button button-assertive" ng-click="book(dog)">
			    <i class="icon ion-calendar"></i>
			</button>
		</ion-item>
	</ion-list>
		
	</ion-content>
</ion-view>
