<ion-view view-title="Kennels scan">      
    <ion-content data-tap-disabled="false" scroll="true">
	<ui-gmap-google-map center='map.center' zoom='map.zoom' aria-label="Google map">
		<ui-gmap-marker ng-repeat="marker in markers"coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
			<ui-gmap-window>
				<div>{{marker.window.title}}</div>
			</ui-gmap-window>
		</ui-gmap-marker>
	</ui-gmap-google-map>
    </ion-content>
</ion-view>
