<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-light tabs-icon-only tabs-color-dark tabs-color-active-assertive">
  <!-- Dogs Tab -->
  <ion-tab icon-off="custom-icon-dog" icon-on="custom-icon-dog" href="#/dogs/selection">
    <ion-nav-view name="dogs"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="custom-icon-dog_favorite" icon-on="custom-icon-dog_favorite" href="#/dogs/favorites">
    <ion-nav-view name="favorites"></ion-nav-view>
  </ion-tab>
  
  <ion-tab icon-off="custom-icon-kennel" icon-on="custom-icon-kennel" href="#/kennels/scan">
    <ion-nav-view name="kennels"></ion-nav-view>
  </ion-tab>  

</ion-tabs>
