<ion-view>
	<ion-content>
		<!--div class="favorites-list list animate-ripples">
		    <div ng-repeat="dog in dogs" class="item item-thumbnail-left item-button-right" href="#">
		      <img src="{{dog.picture}}">
		      <h2>{{dog.name}}</h2>
		      <p>{{dog.race}}</p>
			  <button class="button button-energized ">
			    <i class="icon ion-calendar"></i>
			  </button>
			  </p>
		    </div>
		</div-->

	<!--ion-list show-delete="true" show-reorder="true" can-swipe="true" id="favorites-list" class="favorites-list animate-fade-slide-in-right"-->
	<ion-list id="favorites-list" class="animate-fade-slide-in-right">
  		<!--ion-item class="item item-thumbnail-left item-button-right">
			<img src="img/pantufa.jpg">
		    <h2>John</h2>
		    <p>race 1</p>
   			<ion-option-button class="button-positive" ng-click="alert('ok')"></ion-option-button>		
		</ion-item>
  		<ion-item class="item item-thumbnail-left item-button-right">
			<img src="img/pantufa.jpg">
		    <h2>Bob</h2>
		    <p>race 2</p>
   			<ion-option-button class="button-positive" ng-click="alert('ok')"></ion-option-button>		
		</ion-item>
  		<ion-item class="item item-thumbnail-left item-button-right">
			<img src="img/pantufa.jpg">
		    <h2>Dug</h2>
		    <p>race 3</p>
   			<ion-option-button class="button-positive" ng-click="alert('ok')"></ion-option-button>		
		</ion-item-->		
  		<ion-item ng-repeat="dog in dogs" class="item item-thumbnail-left item-button-right">
			<img src="{{dog.picture}}">
		    <h2>{{dog.name}}</h2>
		    <p>{{dog.race}}</p>
		    <button class="button button-assertive ">
			    <i class="icon ion-calendar"></i>
			  </button>
		</ion-item>
	</ion-list>
		
	</ion-content>
</ion-view>
