<ion-view>
	<ion-content>
	   	<div class="right-action">
			 <button class="button button-assertive button-small" ng-click="showFilters()">
				<i class="icon custom-icon-filter"></i>
	    		</button>
		</div>	
		<div class="presentation-bar presentation-bar-top">
			<span class="dog-infos assertive">{{currentDog.name}}</span>
			<span class="dog-infos">{{currentDog.race}}</span>
		</div>

		  <!--td-cards>
		      <td-card id="td-card" ng-repeat="dog in dogs" on-destroy="cardDestroyed($index)"
		      on-swipe-left="dislikeDog($index)" on-swipe-right="likeDog($index)"
		      on-partial-swipe="cardPartialSwipe(amt)">
		          <div class="image">
		              <div class="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
		              <img ng-src="{{dog.picture}}">
		              <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
		          </div>
		      </td-card>
		  </td-cards-->


      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight(card)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image">
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.picture}}">
            <div class="yes-text">LIKE</div>
          </div>
        </td-card>
      </td-cards>

		<div class="presentation-bar presentation-bar-bottom" ng-switch on="currentDog.gender">
			<span class="dog-infos">{{currentDog.age}}</span>
			<span style="position:relative" class="dog-infos">
				<span class="dog-infos-float-right"><i ng-switch-when="F" class="icon custom-icon-female"></i></span>
				<span class="dog-infos-float-right"><i ng-switch-when="M" class="icon custom-icon-male"></i></span>
			</span>
		</div>

		<!--p class="dog-presentation">{{currentDog.description}}</p>
			<a class='item center assertive' href='#/dogs/book'>
	 			<i class='icon ion-calendar'></i>Come to meet me !
			</a-->
	</ion-content>
</ion-view>
