@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ohe5jk');
	src:url('fonts/icomoon.eot?#iefixohe5jk') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ohe5jk') format('truetype'),
		url('fonts/icomoon.woff?ohe5jk') format('woff'),
		url('fonts/icomoon.svg?ohe5jk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="custom-icon-"], [class*=" custom-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.custom-icon-male:before {
	content: "\e601";
}
.custom-icon-dog_favorite:before {
	content: "\e602";
}

.custom-icon-kennel:before {
	content: "\e603";
}
.custom-icon-dog_house:before {
	content: "\e604";
}
.custom-icon-dog:before {
	content: "\e605";
}
.custom-icon-female:before {
	content: "\e600";
}

.custom-icon-filter:before {
	content: "\e606";
}
