<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


<meta http-equiv="Content-Security-Policy" content="default-src *;
               script-src &apos;self&apos; &apos;unsafe-inline&apos; &apos;unsafe-eval&apos;
                           127.0.0.1:*
                           http://*.google.com
                           http://*.gstatic.com
                           http://*.googleapis.com
                           http://*.firebaseio.com
                           https://*.google.com
                           https://*.gstatic.com
                           https://*.googleapis.com
                           https://*.firebaseio.com
                           https://*.c9.io
                           ;
               style-src  &apos;self&apos; &apos;unsafe-inline&apos;
                          127.0.0.1
                           http://*.google.com
                           http://*.gstatic.com
                           http://*.googleapis.com
                           http://*.firebaseio.com
                           https://*.google.com
                           https://*.gstatic.com
                           https://*.googleapis.com
                           https://*.firebaseio.com
                           https://*.c9.io">



    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/fonts/style.css" rel="stylesheet">

    <link href="lib/ion-calendar-2.0.2/css/ion.calendar.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">

   <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!--script src="http://localhost:8080/target/target-script-min.js#anonymous"></script-->


    <script src="lib/jquery/jquery-1.11.3.min.js"></script>

 <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/lodash/lodash.min.js"></script>
    <script src="lib/angular-simple-logger/dist/index.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.js"></script>



    <script src="lib/ion-calendar-2.0.2/js/moment-with-locales.min.js"></script>
    <script src="lib/ion-calendar-2.0.2/js/ion.calendar.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.js"></script>
    
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic-contrib-tinder-cards/ionic.tdcards.js"></script>

  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->

	<div ng-controller="AppCtrl">
		<ion-side-menus>
		  <!-- Left menu -->
		  <ion-side-menu side="left">
		  </ion-side-menu>

		  <ion-side-menu-content>
		  <!-- Main content, usually <ion-nav-view> -->
			<ion-nav-bar class="main-navbar">
			  <!--ion-nav-buttons side="left">
			   <!-- Toggle left side menu ->
			   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			  </ion-nav-buttons-->
			  <ion-nav-buttons side="right">
			   <!-- Toggle right side menu -->
			   <button ng-click="toggleHome()" toggle-right class="button button-icon icon ion-navicon-round"></button>
			  </ion-nav-buttons>
			</ion-nav-bar>

			<ion-nav-view></ion-nav-view>		


		  </ion-side-menu-content>

		  <!-- Right menu -->
		  <ion-side-menu side="right" delegate-handle='home'>
			<ion-header-bar class="bar bar-header bar-dark">
			  <h1 class="title">Home</h1>
			</ion-header-bar>
			<ion-content has-header="true">
			  <ul class="list">
			    <button class="item" ng-click="hideFilters()">Inviter des amis</button>
			    <button class="item" ng-click="hideFilters()">Aide</button>
			    <button class="item" ng-click="hideFilters()">Param&#xE8;tres</button>
			  </ul>
			</ion-content>
		  </ion-side-menu>

		  <!--ion-side-menu side="right" delegate-handle="filters">
			<ion-header-bar class="bar bar-header bar-dark">
			  <h1 class="title">Filters</h1>
			</ion-header-bar>
			<ion-content has-header="true">
			  <ul class="list">
			    <button class="item" ng-click="hideFilters()">Race Filter</button>
			    <button class="item" ng-click="hideFilters()">Age Filter</button>
			    <button class="item" ng-click="hideFilters()">Gender Filter</button>
			  </ul>
			</ion-content>
		  </ion-side-menu-->

		</ion-side-menus>
	</div>


    <!--ion-nav-bar class="bar-light">

    </ion-nav-bar-->
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrMXo5p135TYqoUz0qsJikV0SqC3i7nws">
  </script>
  </body>
</html>
