<ion-view view-title="Book">
  <ion-content class="popup-box" noScroll>
	<h3 class="popup-head">
		Come to meet me	
	</h3>
	<div class="popup-content"> 
		<!--img src="img/pantufa.jpg"-->
		<div class="calendar">
			<div class="top-image">
				<img src="{{dog.picture}}" />
			   	<p>July</p>
				</div>
				<ul class="days">
					<li>Sun</li>
					<li>Mon</li>
					<li>Tues</li>
					<li>Wed</li>
					<li>Thurs</li>
					<li>Fri</li>
					<li>Sat</li>
				</ul>
				<ul class="dates">
					<li class="fade">29</li>
					<li class="fade">30</li>
					<li>1</li>
					<li>2</li>
					<li class="today">3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>7</li>
					<li>8</li>
					<li>9</li>
					<li>10</li>
					<li>11</li>
					<li>12</li>
					<li>13</li>
					<li>14</li>
					<li>15</li>
					<li>16</li>
					<li>17</li>
					<li>18</li>
					<li>19</li>
					<li>20</li>
					<li>21</li>
					<li>22</li>
					<li>23</li>
					<li>24</li>
					<li>25</li>
					<li>26</li>
					<li>27</li>
					<li>28</li>
					<li>29</li>
					<li>30</li>
					<li>31</li>
					<li class="fade">1</li>
					<li class="fade">2</li>
				</ul>
			</div>
		</div>		
		<button class="button button-block button-assertive" ng-click="doBook()"> Book </button>

<!--ui-gmap-google-map center='map.center' zoom='map.zoom' aria-label="Google map">
			<ui-gmap-marker ng-repeat="marker in markers"coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
				<ui-gmap-window>
					<div>{{marker.window.title}}</div>
				</ui-gmap-window>
			</ui-gmap-marker>
		</ui-gmap-google-map-->
	</div>
  </ion-content>
</ion-view>
