@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?3qcl40');
	src:url('fonts/icomoon.eot?#iefix3qcl40') format('embedded-opentype'),
		url('fonts/icomoon.ttf?3qcl40') format('truetype'),
		url('fonts/icomoon.woff?3qcl40') format('woff'),
		url('fonts/icomoon.svg?3qcl40#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="custom-icon-"], [class*=" custom-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.custom-icon-kennel:before {
	content: "\e600";
}
.custom-icon-dog:before {
	content: "\e601";
}
