.calendar {
  margin: auto;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 20px -5px #333333;
}
.calendar .top-image {
  position: relative;
}
.calendar .top-image img {
  display: block;
  height:150px;
  width:300px;
}
.calendar .top-image p {
  position: absolute;
  font-size: 16px;
  bottom: 6%;
  right: 2%;
  color: #333;
}
.calendar .days {
  width: 100%;
  overflow: hidden;
  background: #333;
  color: #fff;
}
.calendar .days li {
  width: 14.25%;
  height: 0;
  padding: 4% 0 7% 0;
  float: left;
  text-align: center;
}
.calendar .dates {
  width: 100%;
  overflow: hidden;
}
.calendar .dates li {
  width: 14.25%;
  padding-top: 4%;
  padding-bottom: 7%;
  height: 0;
  display: block;
  float: left;
  text-align: center;
  position: relative;
}
.calendar .dates li.fade {
  color: #ccc;
}
.calendar .dates li.today:before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 2px solid #AD9DC9;
  height: 0;
  padding-bottom: 50%;
  width: 50%;
  top: 11%;
  left: 19.5%;
}

