/*modifs ionic*/

.main-navbar{
  height:49px;
  position:absolute;
  right:0;
}

.main-navbar.buttons, .main-navbar .button, .main-navbar .bar{
  min-height:49px !important;
  width: 0px;
}

.main-navbar .nav-bar-block{
	width:100%;
	margin-left:85%;
}

.main-navbar .right-button{
	position:absolute;
	right:0;
}

.tabs{
  width:55%;
}
.tabs-top > .tabs{
  top:0;
}

.has-tabs-top{
  top:0;
}



/* Typography */
@font-face {
    font-family: 'besom';
    src: url('fonts/Besom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Empty. Add your own CSS if you like */
.img-size-1{
    height:500px;
}

.center{
    text-align:center;
}

.compact-title h2, .compact-title p{
    display:inline-block;
}


/*Map*/
.angular-google-map-container { 
  height: 1000px; 
  /*width:100%;*/
}

h3 { 
    font-family: 'Lobster', cursive; 
    font-size: 20px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 18px; 
    text-shadow: 1px 0 0 #fff; 
}

.scroll{
    margin-top:49px;
}


.dog-infos-float-right{
   display:absolute;
   right:0;
}

.dog-infos-filter{
  border:solid red 1px; 
  padding:5px;
  text-decoration:none;
  color:inherit;
}

/*.dog-meet{
    display:block;
}*/

.dog-presentation {
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
}

.presentation-bar {
    width:100%;
    z-index:25;
    height: 60px;
    font-family:besom, sans-serif;
    font-size:1.8em;
    line-height: 0.8em;
    box-shadow: none;
    border:none;
    font-weight:bold;
}    
    
.presentation-bar-top{
    position:absolute;
    top:1em;
    background-color: transparent !important; 
}

.presentation-bar-bottom{
	position:absolute;
	bottom:0;
	color:white;
        background-color:black;
	display:table;
}


.presentation-bar-top .dog-infos{
    display:inline-block;
    width:48%;
    margin:auto;
    text-align:center;
}

.presentation-bar-bottom .dog-infos{
    display:table-cell;
    width:48%;
    margin:auto;
    text-align:center;
    vertical-align:middle;
}


.right-action{
    position:absolute;
    right:0;
    z-index:25;
}

.slider-slides {
    height:500px;
	/*background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;*/
}

.slider-slides .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url('img/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

.slider-slides .previous{ background-position:left top;left:0;}
.slider-slides .previous:hover{ background-position:left bottom;}

.slider-slides .next{ background-position:right top;right:0;}
.slider-slides .next:hover{ background-position:right bottom;}

/*.scroll-content{
    position:relative;
    height:100%;
}*/

/*.tabs{
    height: 20%;
}

.tab-item{
    height: 100% !important;
    line-height: 200% !important;
    font-size: 4em !important;
}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 100%;
    font-size: 1em;
}*/


/*SWIPE*/
td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 350px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
}

td-card img {
  width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}


/*Favorites*/
/*.list .item{
	min-height:150px;
}*/


/*
.favorites-list .item{
	min-height:200px;
}

.favorites-list .item-thumbnail-left > img:first-child, .favorites-list .item-thumbnail-left .item-image,
.favorites-list .item-thumbnail-left .item-content > img:first-child, .favorites-list .item-thumbnail-left .item-content .item-image img{
  max-height:180px !important;
  max-width:180px !important;
}


.favorites-list .item-thumbnail-left, .favorites-list .card > .item.item-thumbnail-left, .favorites-list .item-thumbnail-left .favorites-list .item-content {
    padding-left: 200px;
}*/

/*
.favorites-list .item-button-right > .button, .favorites-list .item-button-right .item-content > .button,
.favorites-list .item-button-right > .buttons, .favorites-list .item-button-right .item-content > .buttons{
  margin: auto;
  top: 0; 
  bottom: 0; 
}*/


.popup-box{
  height:100%;
  width:100% !important;
  padding:10px;
  border:solid 1px;
  border-radius:10px;
  text-align:center;
}

.popup-box .scroll{
  margin-top:0;
}

.popup{
  height:500px;
  width:85% !important;
}

.popup .popup-head{
  padding:5px;
  font-variant: small-caps;
}

.popup-boxpopup h3{
  line-height:auto;
  margin:0;
}

.popup-boxpopup .content{
  height:100%;
  background: #ccc; 
  border:solid 1px;
  border-radius:10px;
}

/*
.popup-box img{
 margin:auto;
 width:100%;
 border: solid 1px;
}
*/

.popup-box .angular-google-map{
  z-index:15;
}
