/*modifs ionic*/

.main-navbar{
  height:49px;
}

.main-navbar.buttons, .main-navbar .button, .main-navbar .bar{
  min-height:49px !important;
	min-width:40px;
}

.main-navbar .nav-bar-block{
	width:15%;
	margin-left:85%;

}

.tabs{
  width:55%;
}
.tabs-top > .tabs{
  top:0;
}

.has-tabs-top{
  top:49px;
}



/* Typography */
@font-face {
    font-family: 'besom';
    src: url('fonts/Besom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Empty. Add your own CSS if you like */
.img-size-1{
    height:500px;
}

.center{
    text-align:center;
}

.compact-title h2, .compact-title p{
    display:inline-block;
}


/*Map*/
.angular-google-map-container { 
  height: 1000px; 
  /*width:100%;*/
}

h3 { 
    font-family: 'Lobster', cursive; 
    font-size: 20px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 18px; 
    text-shadow: 1px 0 0 #fff; 
}

/*.scroll{
    height: 80%;
}*/


.dog-infos-float-right{
   display:absolute;
   right:0;
}

.dog-infos-filter{
  border:solid red 1px; 
  padding:5px;
  text-decoration:none;
  color:inherit;
}

/*.dog-meet{
    display:block;
}*/

.dog-presentation {
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
}

.presentation-bar {
    width:100%;
    z-index:25;
    height: 60px;
    position:absolute;
    font-family:besom, sans-serif;
    font-size:2em;
    line-height: 0.8em;
    box-shadow: none;
    border:none;
    font-weight:bold;
}    
    
.presentation-bar-top{
    top:60px;
    background-color: transparent !important; 
}

.presentation-bar-bottom{
	top:540px;
	color:white;
        background-color:black;
        opacity:0.7;
	display:table;
}


.presentation-bar-top .dog-infos{
    display:inline-block;
    width:48%;
    margin:auto;
    text-align:center;
}

.presentation-bar-bottom .dog-infos{
    display:table-cell;
    width:48%;
    margin:auto;
    text-align:center;
    vertical-align:middle;
}


.right-action{
    position:absolute;
    right:0;
    z-index:25;
}

.slider-slides {
    height:500px;
	/*background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;*/
}

.slider-slides .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url('img/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

.slider-slides .previous{ background-position:left top;left:0;}
.slider-slides .previous:hover{ background-position:left bottom;}

.slider-slides .next{ background-position:right top;right:0;}
.slider-slides .next:hover{ background-position:right bottom;}

/*.scroll-content{
    position:relative;
    height:100%;
}*/

/*.tabs{
    height: 20%;
}

.tab-item{
    height: 100% !important;
    line-height: 200% !important;
    font-size: 4em !important;
}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 100%;
    font-size: 1em;
}*/



/*Favorites*/
.thumbnail img{
	border-radius:0% !important;
}

.list .item{
	min-height:90px;
}


/* Swipe */
td-cards {
    display: block;
}
 
td-card {
    position: absolute;
/*    left: 50%;
    margin: 80px 0 40px -150px;*/
    width: 100%;
    height: 600px;
    border: 1px solid #999;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: rgb(255,255,255);
}
 
/*.td-card .title {
    height: 40px;
    font-size: 15px;
    padding: 15px;
}*/
 
td-card .image {
    position: absolute;
/*    top: 40px;*/
    width: 100%;
}
 
td-card img {
    height: 605px;
    width: 100%;
    border-radius: 6px;
}
 
/* Overlay styling*/
 
.overlayBox {
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}
 
.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}
 
.yes-text {
    background-color: rgba(0,256,0,0.2);
}
 
.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}
 
.no-text {
    background-color: rgba(256,0,0,0.2);
}
 
.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

